# Python bytecode files
*.pyc
*.pyo
__pycache__/

# Virtual environment
venv/
env/

# Pytest cache
.cache/

# IDE or editor files
.idea/
.vscode/
*.swp

# Database files
*.sqlite3

# FastAPI related
*.db
*.log

# Dependency directories
Pipfile.lock
poetry.lock

# System files
.DS_Store
Thumbs.db

# Environment variables
.env
# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

node_modules
dist
dist-ssr
*.local

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?


pnpm-lock.yaml
package-lock.json
pnpm-lock.yaml
