# Node modules
node_modules

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Build output
dist
build

# Editor files
.vscode
.idea

# Environment files
.env
.env.local
.env.development.local
.env.test.local
.env.production.local

# Cache
.cache
.next
out

# MacOS files
.DS_Store

# Typescript build cache
*.tsbuildinfo

# Coverage reports
coverage

# ESLint cache
.eslintcache

# Optional: if using JetBrains IDEs like WebStorm
*.iml
.idea/

# Optional: if using React Testing Library snapshots
**/__snapshots__/

# Optional: if using Storybook
.storybook-out
storybook-static

# Optional: if using Firebase
.firebase/
.firebaserc

# Optional: if deploying with Vercel
.vercel
.vercel/output

# Optional: if deploying with Netlify
.netlify

# Ignore package-lock.json or yarn.lock if not using them
# yarn.lock
# package-lock.json
